<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <!-- js 문법 사용 <% %> -->
    <% if(true){ %>
    <div>ejs working</div>
    <% }else{ %>
    <div>ejs not working</div>
    <% } %>

    <!-- 변수 출력 <%= %>-->
    <div><%= data %></div>

    <!-- ejs 분할 <% include 파일명 %> -->
    <% include ./layout/navBar.ejs %>
  </body>
</html>
